# Ignore specific files
/code.txt
jay.jpg
jay_REDACTED.jpg
wrapper_2.py
create_corporate_pdf.py
create_test_img.py
pii_redaction.log
test_ocr.py
test.py
yolov8s.pt

# Ignore all JSON files ONLY in root directory
/*.json
/imgs
/*.jpg
# Ignore all PDF files (anywhere)
*.pdf


# Ignore folders
/json/
pdfs/
presidio-env/
output/
runs/
.cache/
# Optional: Python-related ignores (recommended)
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
uploads/
.gitignore
vapt.py
wapt_results.xlsx
.gitignore
auto.py
pdf_automation.log
*.png